*{
  color:#ffffff;
}

body{
      background-color: #111827;
    }
.cont{
  background-color: #111827;
  color:#ffffff;
  border-bottom: 0.5px solid #fff;
}
b{
  color: #ffffff !important;
}
a{
  color: #0275d8;
}
